body {
    background-color: gainsboro;
  font-family: system-ui, sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
  }
  
  .sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
  }
  
